@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-texto: black;
    --cor-titulo: white;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body{
    height: 100vh;
    font-size: 1em;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: var(--cor-titulo);
    text-align: center;
}

header > h1{
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--cor-titulo);
    font-weight: bold;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    color: var(--cor-texto);
}

section.imagem{
    color: var(--cor-titulo);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 5px;
}

#img001{
    background-image: url(../imagens/background001.jpg);
}

#img002{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    color: var(--cor-titulo);
    text-align: center;
    padding: 10px;
}

footer > p{
    margin-block-start: 0;
    margin-block-end: 0;
}